// Define parameters

params {
	csv						= "${projectDir}/modules/sampleSheets/samplesheet.csv"
	outdir					= "${projectDir}/results"
	reference_genome		= "${projectDir}/referenceGenome/sacReference/sac.fa"
	reference_dict			= "${projectDir}/referenceGenome/sacReference/sac.dict"
	reference_index			= "${projectDir}/referenceGenome/sacReference/sac.fa.fai"
	hg38					= "${projectDir}/referenceGenome/GRCh38.p14.fna"
	hg38_index				= "${projectDir}/referenceGenome/GRCh38.p14.fna.fai"
	hg38_dict				= "${projectDir}/referenceGenome/GRCh38.p14.dict"
	dbsnp					= "${projectDir}/referenceGenome/dbsnp138.vcf"
	dbsnp_index				= "${projectDir}/referenceGenome/dbsnp138.vcf.idx"
	hapmap					= "${projectDir}/referenceGenome/hapmap_3.3.hg38.vcf.gz"
	hapmap_index			= "${projectDir}/referenceGenome/hapmap_3.3.hg38.vcf.gz.tbi"
	omni					= "${projectDir}/referenceGenome/omni2.5.hg38.vcf.gz"
	omni_index				= "${projectDir}/referenceGenome/omni2.5.hg38.vcf.gz.tbi"
	mills					= "${projectDir}/referenceGenome/mills.hg38.vcf.gz"
	mills_index				= "${projectDir}/referenceGenome/mills.hg38.vcf.gz.tbi"
	bam_dir					= "${projectDir}/results/sorted"
	bai_dir					= "${projectDir}/results/sorted"
	cohort_name				= "LTBI"
    vcf_dir                 = "${projectDir}/results/haplotypecaller"
	bcftools_output			= "${projectDir}results/bcftools_query"
	chromosome_list			= "${projectDir}/modules/local/haplotypecaller/chromosomes.list"
	reference_dir			= "${projectDir}/referenceGenome/sacReference"
}

// Define processess and load modules

process {
	queue 			= 'normal'
	clusterOptions	= '-P HEAL1360'

	withName: 'FASTQC' {
		beforeScript = """
			module load chpc/BIOMODULES
			module load FastQC/0.12.1
		"""
	}

	withName: 'MULTIQC' {
		beforeScript = """
			module load chpc/BIOMODULES
			module load MultiQC/1.23
		"""
	}

	withName: 'ALIGN' {
		beforeScript = """
			module load chpc/BIOMODULES
			module load BWA/0.7.7
		"""
		memory = '38 GB'
	}

	withName: 'SAM_TO_BAM' {
		beforeScript = """
			module load chpc/BIOMODULES
			module load samtools/1.9
		"""
	}

	withName: 'MARKDUPLICATES' {
		beforeScript = """
			module load chpc/BIOMODULES
			module load picard/3.0.0
		"""
	}

	withName: 'SORT_BAM' {
		beforeScript = """
			module load chpc/BIOMODULES
			module load samtools/1.9
		"""
		memory = '8 GB'
	}

	withName: 'INDEX_BAM' {
		beforeScript = """
			module load chpc/BIOMODULES
			module load samtools/1.9
		"""
		memory = '8 GB'
	}

    withName: 'BQSR' {
        beforeScript = """
        module load chpc/BIOMODULES
        module load gatk/4.6.0.0
        """
    }

	withName: 'HAPLOTYPECALLER' {
		beforeScript = """
			module load chpc/BIOMODULES
			module load gatk/4.2.6.1
		"""
	}

	withName: 'JOINTGENOTYPING' {
		beforeScript = """
			module load chpc/BIOMODULES
			module load gatk/4.6.0.0
		"""
	}

    withName: 'VARIANT_FILTERING' {
        beforeScript = """
        module load chpc/BIOMODULES
        module load gatk/4.2.6.1
        """
    }

	withName: 'BCFTOOLS_QUERY' {
		beforeScript = """
		module load chpc/BIOMODULES
		module load bcftools/1.9
		"""
	}
}

// Define nextflow configurations

nextflow {
	enable.dsl 								= 2
	enable.configProcessNamesValidation 	= false
}

// Reporting 

report {
	enabled = true
	file = "./nextflow_report/report.html"
	overwrite = true
}

